



ion-title{
  margin-top: 2px;
  position: relative;
  width: 170px;
  left: -1.35rem;
  height: 60px;
}
.icons {
  display: flex;
  gap: 5px;
}

ion-content.background{
  background-image: url('https://scontent.ffln2-3.fna.fbcdn.net/v/t1.6435-9/57348205_2098498853537763_1010409868340756480_n.png?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeG6mH7Z5MDSi2E0VPRlnGAll9jB1Q0ysLyX2MHVDTKwvFB8nenjANLu9jmYEx7zRhFvtO3rghhlK2-vc3EtZbjB&_nc_ohc=lZQkRW67OY8AX-qN1Yq&_nc_ht=scontent.ffln2-3.fna&oh=00_AT8UnRQFQstKwdDUhUqFLx5S420Us5TopVfWIUgtLppgEw&oe=62C4F818');
}